<!doctype html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
	<link href="https:xxxxx.xxxxxxxx.xxxxxxxxxxxxxxxxx@x.x.xxxxxxxxxxxxxxxxxxxxxxxxxx.xxx.xxx" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z7G3b6p8fj5g8Lw8RS8a8x3GFP6G5u5tTF1zU1" crossorigin="anonymous">

	<title>Hello, world!</title>
	</head>
  	<body>
		<h1>Hello, world!</h1>

		<!-- Optional JavaScript; choose one of the two! -->

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https:xxxxx.xxxxxxxx.xxxxxxxxxxxxxxxxx@x.x.xxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxx.xx" integrity="sha384-+0n0xV1C2UZ2I2Z8k5ZJT7K9z3E6fFVI8FfV5GCEHg7t50I3hjH6ArWZhYB4v6T8" crossorigin="anonymous"></script>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<!--
		<script src="https:xxxxx.xxxxxxxx.xxxxxxxxxxxxxx.xx@x.xx.xxxxxxxxxxxxxxxxx.xxx.xx" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https:xxxxx.xxxxxxxx.xxxxxxxxxxxxxxxxx@x.x.xxxxxxxxxxxxxxxxxxxxxxxxx.xxx.xx" integrity="sha384-+0n0xV1C2UZ2I2Z8k5ZJT7K9z3E6fFVI8FfV5GCEHg7t50I3hjH6ArWZhYB4v6T8" crossorigin="anonymous"></script>
		-->
  	</body>
</html>